---
import Layout from "../layouts/Layout.astro";
import { CldUploadWidget } from "astro-cloudinary";
import Heading from "../components/Heading.astro";
import { getCollection } from "astro:content";
import Arrow from "../icons/Arrow.astro";
import { any } from "astro:schema";

const PROPS = await getCollection("props");

const mainSelection = "rocky-horror";
const mainUrl =
  "https://res.cloudinary.com/dog0bhmts/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max/v1728618697/frank-e1567896887283_m2utgn.webp";
const mainAlt = "image of Frank n Furtur";
const mainName = "Rocky Horror";
---

<Layout title="Halloweenify">
  <main class="flex felx-row justify-center w-screen">
    <Heading class="text-6xl sm:text-8xl animate-fadeDrop mb-4" />

    <section
      class="felx flex-col justify-center align-middle text-center w-screen"
    >
      <CldUploadWidget
        id="upload-widget"
        uploadPreset="unsigned-images"
        options={{
          sources: ["local", "camera"],
          multiple: false,
        }}
      >
        <button>
          <div
            class="px-4 py-2 rounded-xl bg-orange-500 text-2xl font-semibold"
          >
            <h2>Change you face aparence here!</h2>
          </div>
        </button>
      </CldUploadWidget>

      <div
        class="flex gap-10 m-6 justify-center flex-wrap sm:flex-auto p-0 mt-11"
      >
        <div class="flex flex-col gap-3 justify-center">
          <input
            id={mainSelection}
            type="radio"
            value={mainSelection}
            name="prompts"
            class="hidden peer"
            required
            checked
          />
          <label
            for={mainSelection}
            class="size-32 md:size-36 rounded-full flex flex-col justify-center align-middle gap-6 peer-checked:border-orange-600 peer-checked:border-4 peer-checked:hover:border-7"
          >
            <img
              class="rounded-full hover:scale-95 cursor-pointer ease-in-out transition duration-150"
              alt={mainAlt}
              src={mainUrl}
            />
          </label>
          <h2>{mainName}</h2>
        </div>

        {
          PROPS.map((aiProp: { slug: any; data: any }) => {
            const { slug, data } = aiProp;
            const { name, imgUrl, alt, prompt } = data;
            var req: string = "required";

            if (slug === "rocky-horror") {
              return;
            }

            return (
              <div class="flex flex-col gap-3 justify-center">
                <input
                  id={slug}
                  type="radio"
                  value={slug}
                  name="prompts"
                  class="hidden peer"
                />
                <label
                  for={slug}
                  class="size-32 md:size-36 rounded-full flex flex-col justify-center align-middle gap-6 peer-checked:border-orange-600 peer-checked:border-4 peer-checked:hover:border-7"
                >
                  <img
                    class="rounded-full hover:scale-95 cursor-pointer ease-in-out transition duration-150"
                    alt={alt}
                    src={imgUrl}
                  />
                </label>
                <h2>{name}</h2>
              </div>
            );
          })
        }
      </div>
      <div
        class="flex flex-row gap-8 justify-center items-center t-14 items mt-20 mb-5"
      >
        <img
          class="size-48 sm:size-72 md:size-80 -rotate-12"
          src="https://res.cloudinary.com/dog0bhmts/image/upload/v1728596167/asvufhi8c7l4hsko7yiw.jpg"
        />
        <Arrow class="size-24 -translate-y-10" />
        <img
          class="size-48 sm:size-72 md:size-80 rotate-12"
          src="https://res.cloudinary.com/dog0bhmts/image/upload/e_gen_replace:from_face;to_Rocky%20Horror%20picture%20show%20makeup/e_blur:20/e_brightness:-10/e_contrast:-50/e_fill_light:20:30/e_saturation:30/e_sharpen:-100/e_vibrance:-30/f_auto/q_auto/v1/asvufhi8c7l4hsko7yiw?_a=BBGABlXg0"
        />
      </div>
    </section>
  </main>

  <style>
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }

    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }

    .open-sans-button {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      font-variation-settings: "wdth" 100;
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>

  <script>
    import { navigate } from "astro:transitions/client";

    const widget = document.getElementById("upload-widget");

    if (widget) {
      widget.addEventListener("clduploadwidget:success", ((
        e: CustomEvent<{ info: { public_id: string } }>
      ) => {
        const selectionId = document.querySelector(
          "input[name='prompts']:checked"
        ).id;
        console.log(selectionId);
        const public_id = e.detail.info.public_id;
        navigate(`halloween-photo?id=${public_id}&sel=${selectionId}`);
      }) as EventListener);
    }
  </script>
</Layout>
